/*
welcome page
- adjust padding for smaller screens
    - inside float for title (reduce to bring other elements up)
    - width of float


*/

#welcome-page{
    background-image: url("/img-assets/welcome-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 720px;
    padding: 100px;
}

#welcome-float{
    width: 80%;
    height: 100%;
    min-width: 300px;
    background: rgba(255, 255, 255, 0.5);
    position: relative;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

#welcome-float > .btn{
    margin: 20px;
    border-radius: 0;
    width: 120px;
    vertical-align: middle;
    min-width: fit-content;
}

#other-links{
    padding: 40px;
}

#other-links > a{
    font-size: 40px;
    margin: 20px;
    padding-top: 60px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/*
sign-up page
*/

#signup-page, #login-page{
    background-image: url("/img-assets/signup-img.jpg");
    background-size: cover;
    padding: 100px;
    height: fit-content;
}

#signup-float, #login-float{
    width: 80%;
    background: rgba(255, 255, 255, 0.5);
    position: relative;
    padding: 30px;
}

.legend{
    font-size: 40px;
    color: #ffc107;
}

.input{
    padding: 0;
}

.input > .btn{
    border-radius: 0;
}

input[type=text], input[type=password], input[type=date], select[id=country], textarea[id=description] {
    width: 100%;
    padding: 12px 20px;
    /*margin: 8px 0;*/
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
}
input[type=password]:focus {
    border: 3px solid #555;
}

input[type=date]:focus{
    border: 3px solid #555;
}

select[id=country]:focus{
    border: 3px solid #555;
}

textarea[id=description]:focus{
    border: 3px solid #555;
}

#other-links > a:hover{
    color: #ffc107;
}

/*
login page
*/

/*
main page
*/
#article-page{
    background-color: lightslategrey;
    padding: 50px;
    transition: margin-left .5s;
}
#article-float{
    margin-top: 50px;
    background-color: rgba(255,255,255,0.4);
    width: 100%;
    padding: 0;
}

.card{
    border: 0;
    background: transparent;
}

.user-info{
    font-style: italic;
    font-size: 10px;
}

.card, .card-body > .btn {
    border-radius: 0;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 50px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}








